:root {
    --background: #f2dfd7;
    --base: #89c2d9;
    --border: #61a5c2;
    --btn-base: #edf2fb;
    --tool: #2c7da0;
}

body {
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    overflow: hidden;
}

.active {
    filter: brightness(80%);
    transform: scale(0.95);
}