body {
    background-color: #e0efda;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    overflow: hidden;
}

.active {
    filter: brightness(80%);
}