@font-face {
    font-family: synth-font;
    src: url(/assets/fonts/synth_font.ttf);
}

#synth-settings {
    display: grid;
}

#octave-settings {
    display: grid;
    margin-right: 20px;
}

button.octave {
    height: 35px;
    width: 35px;
    border-radius: 5px;
    border-style: solid;
    border-width: 4px;
    margin-bottom: 3px;
    margin-top: 3px;
    display: grid;
    justify-content: center;
    align-items: center;
}

button.abc {
    background-color: black;
}

#octave-up {
    border-color: #ff7096;
    background-color: #fbb1bd;
    background-image: url(/assets/icons/arrow-up.png);
}

#octave-down {
    border-color: #ff7096;
    background-color: #fbb1bd;
}

#octave-value {
    background-color: #E9ECEF;
    border-color: #495057;
    font-size: 12px;
    font-family: synth-font;
}

#octave-img {
    width: 18px;
    height: 18px;
    pointer-events: none;
}

#volume-settings {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
.volume { 
    appearance: slider-vertical;
    -moz-appearance: slider-vertical;
    -webkit-appearance: slider-vertical;
    width: 10px;
    display: grid;
    align-items: center;
    justify-content: center;
 }