#synth-settings {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

#octave-settings, #volume-settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35px;
}

button.octave {
    height: 35px;
    width: 35px;
    border-radius: 5px;
    border-style: solid;
    border-width: 4px;
    margin-bottom: 3px;
    margin-top: 3px;
    display: grid;
    justify-content: center;
    align-items: center;
}

button.abc {
    background-color: black;
}

#octave-up, #octave-down {
    border-color: var(--border);
    background-color: var(--btn-base);
}
#octave-value {
    background-color: #E9ECEF;
    border-color: #495057;
    font-size: 12px;
    font-family: synth-font;
}

#octave-img {
    width: 18px;
    height: 18px;
    pointer-events: none;
}

#volume-slider { 
    appearance: none;
    background-color: var(--btn-base);
    height: 20px;
    width: 100px;
    border-style: solid;
    border-width: 4px;
    border-radius: 5px;
    border-color: var(--border);
    transform: rotate(270deg);
    margin: 50px 0;
 }

 #volume-slider::-webkit-slider-thumb {
    appearance: none;
    height: 35px;
    width: 20px;
    border-radius: 5px;
    background-color: var(--tool);
 }

 button.volume {
    height: 35px;
    width: 35px;
    border-radius: 5px;
    border-style: solid;
    border-width: 4px;
    margin-bottom: 3px;
    margin-top: 3px;
    display: grid;
    justify-content: center;
    align-items: center;
 }

 #volume-value {
    background-color: #E9ECEF;
    border-color: #495057;
    font-size: 8px;
    font-family: synth-font;
}